header {
  padding: 0px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  /*
  ↓ 固定にしたい場合は下記を入れる
      position: sticky;
      top: 0;
      left: 0;
  */
}

.header-logo {
  font-weight: bold;
  font-size: 20px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}

.header-item{
  padding: 8px 18px;
  border-radius: 12px;
  background-color: #ff8400;
}
.header-item a {
  color: white;
}

.center{
  text-align: center;
}
.radius{
  border-radius: 50px;
}
.paddingBig{
  padding: 50px;
}
.createbutton{
  padding: 12px 24px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #eb6100;
  width: 150px;
  cursor: pointer;
}
.createbutton:hover{
  color: #fff;
  background: #f56500;
}
