@charset "utf-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width:100%;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    color: #ffffff;
    background-color: #24211b;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    width: 235px;
    margin-top: 90px;
}

@media (max-width:800px) {
    .site-menu ul {
        display: block;
        
    }
    .site-menu li {
        margin-top: 20px;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }
    
    .header-inner {
        padding-left:20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }
    
    .header-logo {
        width: 100px;
    }
    
    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736E62;
        display: none;
    }
    
    .toggle-menu-button {
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(img/hunbuger-botton.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }
    
    .header-site-menu.is-show{
        display: block;
    }
    
    .main {
        padding-top: 50px;
    }

    .footer-logo {
        margin-top: 60px;
    }
}

.first-view {
    height: calc(100vh - 110px);
    background-image: url(img/自習室.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}

.lead p {
    line-height: 2;
    text-align: center;
}

.link-button-area {
    text-align: center;
    margin-top: 40px;
}

.link-button {
    background-color: #f4dd64;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.link-button:hover {
    background-color: #d8b500;
}

@media (max-width: 800px) {
    .first-view {
        height: calc(100vh - 50px);
        background-image: url(img/自習室.jpg);
        align-items: flex-start;
    }
    
    .first-view-text {
        padding-top: 60px;
        padding-left: 20px;
    }

    .first-view-text h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .first-view-text p {
        font-size: 14px;
        line-height: 15px;
    }

    .lead {
        padding-left: 20px;
        padding-right: 20px;
    }

    .lead p {
        text-align: center;
    }
}