body {
  background-color: aqua;
  overflow-y: hidden;
}

.formContainer {
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}
h1 {
  text-align: center;
}
.formContainer form {
  background-color: white;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  height:auto;
}

.uiform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.submitButton {
  text-align: center;
}

.formField input {
  width: 100%;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}